
<div class="topbaner">
<span>
  <h1>PHILTECK</h1>
  <h4>Your vision made possible.</h4>
  </span>
</div>

<div class="container">

  <hr>
    <h4>ABOUT</h4>

    <div class="row">
      <div class="col s12"> </div>
      <div class="col s6" id="aboutp"> 

      <p>I am a software developer who is passionate about coding. I eat, breathe, and sleep coding. I code so much when I see the word “push” on a door, I always pull first hahaha...did you get that? Aside from coding, I am a trumpetist, soccer and basketball player, I can also play tennis but you probably would be able to beat me in it.
      <br>
      My passion for programming started at an early age. By pulling electronic gadgets or toys apart, trying to understand how they work, and trying to restore them back to how it originally was. As a software developer, I like to focus on one goal at a time. I truly believe that the human mind functions better when you work step-by-step. My goal is to become a great developer that brings joy and happiness to all my clients.
      </p></div>
      <div class="col s6" id="picabout">
      <%= image_tag("phil.jpg", :size => "300x400")  %>
      </div>
    </div>
          

  <hr>
    <h4>Services</h4>
  <div class="col-s6">

  <span>
          <i class="large material-icons">stay_primary_portrait</i>
          Responsive website
  </span>
   <span>
     <i class="large material-icons">stay_primary_portrait</i>
          Responsive website
  </span>
   <span>
    <i class="large material-icons">android</i>
          Responsive website
  </span>
  

 </div>

  </div>

