
.header{
	  background: #F1EBEB;
}
.nav-extended{
	background: white;
	color:black;
}
h3{

	color: red;	
}
#links{
	border: solid 5px;
	color: red;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
#link{
	border: solid 5px;
	color: gray;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
#par{
	font-family: impact;
	color:black;
	font-size: 18px;
}
#loc{
	border: solid 10px;

}
.nav-title{
	margin-top: 1em;
	color: green;
	margin-left: 15px;
	font-family: 'Playfair Display', serif;
	background: white;

}
h4{
	font-family: 'Playfair Display', serif;
	color: #65CBE1;	
}
h3{
	font-family: 'Playfair Display', serif;
}
p{
	font-size: 2em;
}

@media screen and (max-width: 600px) {
  .nav-title{color: black;}
  .nav-content {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}
